span.l15n {
    display: inline-flex;
}
span.l15n > span {
    display: none;
}
span.l15n > span:lang(en) {
    display: initial;
}
th {
    text-align: left;
}
td {
    font-family: monospace;
}
th, td {
    vertical-align: baseline;
}
input {
    width: 100%;
}
#parameters td {
    width: 3em;
}
h1, h2 {
    font-family: sans-serif;
    margin: 1em 0 1ex 0;
}
